html,body{
    font-family: Consolas,monaco,monospace;     
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    height: 100vh;
}

.header{
    width:100%;
    height:100px;
    align-items: center; 
    border-bottom:1px solid black;
}

.content{
    width:100%;
    display: flex;
    height: calc(100vh - 50px);    
}

.footer{    
    width:100%;
    height:50px;    
    border-top:1px solid #2a2d2e;
    background-color: #2a2d2e;
    text-align: center;
    --tw-text-opacity: 1;
    color:rgb(149 156 177/var(--tw-text-opacity));
    font-size:12px;
}

.footer p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/* 스크롤 바 css */
.scrollbar::-webkit-scrollbar {
    width: 10px;
} 

.scrollbar::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 6px;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.scrollbar::-webkit-scrollbar-track {
    background: #1f1f1f;
}

.scrollbar::-webkit-scrollbar-button {
    display: none;
}